.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.894000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.901000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.921000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-7.769100px;}
._6{margin-left:-4.189094px;}
._9{margin-left:-2.419493px;}
._4{margin-left:-1.223023px;}
._5{width:1.223023px;}
._2{width:2.644800px;}
._23{width:8.901826px;}
._10{width:9.949099px;}
._18{width:10.951532px;}
._19{width:13.128698px;}
._3{width:14.547004px;}
._d{width:15.710308px;}
._7{width:16.712741px;}
._13{width:19.389483px;}
._1c{width:20.728466px;}
._17{width:21.817808px;}
._1d{width:24.132162px;}
._0{width:30.993750px;}
._8{width:112.724538px;}
._b{width:125.135934px;}
._a{width:224.572154px;}
._f{width:430.858997px;}
._14{width:522.120199px;}
._16{width:583.084005px;}
._11{width:670.551382px;}
._20{width:758.943178px;}
._12{width:899.327917px;}
._c{width:1011.641902px;}
._22{width:1018.740760px;}
._15{width:1166.104612px;}
._e{width:1179.020206px;}
._21{width:1333.434049px;}
._1e{width:1337.974178px;}
._1f{width:1360.032762px;}
._1b{width:1381.975055px;}
._1a{width:1468.905369px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:43.636400px;}
.fs0{font-size:82.650000px;}
.y2b{bottom:29.176000px;}
.y2a{bottom:42.725000px;}
.y29{bottom:56.274000px;}
.y28{bottom:73.304000px;}
.y27{bottom:86.854000px;}
.y26{bottom:112.632000px;}
.y25{bottom:127.501000px;}
.y24{bottom:144.531000px;}
.y23{bottom:158.081000px;}
.y22{bottom:183.859000px;}
.y21{bottom:197.408000px;}
.y20{bottom:212.277000px;}
.y1f{bottom:225.827000px;}
.y1e{bottom:242.857000px;}
.y1d{bottom:256.406000px;}
.y1c{bottom:282.184000px;}
.y1b{bottom:297.053000px;}
.y1a{bottom:310.603000px;}
.y19{bottom:327.633000px;}
.y18{bottom:341.182000px;}
.y17{bottom:366.960000px;}
.y16{bottom:381.829000px;}
.y15{bottom:395.379000px;}
.y14{bottom:412.409000px;}
.y13{bottom:425.958000px;}
.y0{bottom:440.000000px;}
.y12{bottom:445.028000px;}
.y11{bottom:469.674000px;}
.y10{bottom:489.998000px;}
.yf{bottom:505.708000px;}
.ye{bottom:519.257000px;}
.yd{bottom:539.581000px;}
.yc{bottom:553.130000px;}
.yb{bottom:568.840000px;}
.ya{bottom:582.389000px;}
.y9{bottom:602.713000px;}
.y8{bottom:616.262000px;}
.y7{bottom:635.332000px;}
.y6{bottom:658.975000px;}
.y5{bottom:672.524000px;}
.y4{bottom:686.073000px;}
.y3{bottom:707.052000px;}
.y2{bottom:733.858000px;}
.y1{bottom:756.051000px;}
.h4{height:30.545480px;}
.h5{height:31.243662px;}
.h3{height:32.727300px;}
.h2{height:57.855000px;}
.h1{height:262.500000px;}
.h0{height:792.000000px;}
.w1{width:540.000000px;}
.w0{width:612.000000px;}
.x2{left:26.242000px;}
.x3{left:27.515000px;}
.x0{left:36.000000px;}
.x1{left:200.194000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-10.358800pt;}
._6{margin-left:-5.585459pt;}
._9{margin-left:-3.225991pt;}
._4{margin-left:-1.630698pt;}
._5{width:1.630698pt;}
._2{width:3.526400pt;}
._23{width:11.869101pt;}
._10{width:13.265466pt;}
._18{width:14.602043pt;}
._19{width:17.504930pt;}
._3{width:19.396005pt;}
._d{width:20.947077pt;}
._7{width:22.283655pt;}
._13{width:25.852644pt;}
._1c{width:27.637954pt;}
._17{width:29.090411pt;}
._1d{width:32.176215pt;}
._0{width:41.325000pt;}
._8{width:150.299383pt;}
._b{width:166.847912pt;}
._a{width:299.429539pt;}
._f{width:574.478663pt;}
._14{width:696.160265pt;}
._16{width:777.445340pt;}
._11{width:894.068509pt;}
._20{width:1011.924237pt;}
._12{width:1199.103889pt;}
._c{width:1348.855870pt;}
._22{width:1358.321013pt;}
._15{width:1554.806150pt;}
._e{width:1572.026941pt;}
._21{width:1777.912065pt;}
._1e{width:1783.965570pt;}
._1f{width:1813.377016pt;}
._1b{width:1842.633406pt;}
._1a{width:1958.540492pt;}
.fs1{font-size:58.181867pt;}
.fs0{font-size:110.200000pt;}
.y2b{bottom:38.901333pt;}
.y2a{bottom:56.966667pt;}
.y29{bottom:75.032000pt;}
.y28{bottom:97.738667pt;}
.y27{bottom:115.805333pt;}
.y26{bottom:150.176000pt;}
.y25{bottom:170.001333pt;}
.y24{bottom:192.708000pt;}
.y23{bottom:210.774667pt;}
.y22{bottom:245.145333pt;}
.y21{bottom:263.210667pt;}
.y20{bottom:283.036000pt;}
.y1f{bottom:301.102667pt;}
.y1e{bottom:323.809333pt;}
.y1d{bottom:341.874667pt;}
.y1c{bottom:376.245333pt;}
.y1b{bottom:396.070667pt;}
.y1a{bottom:414.137333pt;}
.y19{bottom:436.844000pt;}
.y18{bottom:454.909333pt;}
.y17{bottom:489.280000pt;}
.y16{bottom:509.105333pt;}
.y15{bottom:527.172000pt;}
.y14{bottom:549.878667pt;}
.y13{bottom:567.944000pt;}
.y0{bottom:586.666667pt;}
.y12{bottom:593.370667pt;}
.y11{bottom:626.232000pt;}
.y10{bottom:653.330667pt;}
.yf{bottom:674.277333pt;}
.ye{bottom:692.342667pt;}
.yd{bottom:719.441333pt;}
.yc{bottom:737.506667pt;}
.yb{bottom:758.453333pt;}
.ya{bottom:776.518667pt;}
.y9{bottom:803.617333pt;}
.y8{bottom:821.682667pt;}
.y7{bottom:847.109333pt;}
.y6{bottom:878.633333pt;}
.y5{bottom:896.698667pt;}
.y4{bottom:914.764000pt;}
.y3{bottom:942.736000pt;}
.y2{bottom:978.477333pt;}
.y1{bottom:1008.068000pt;}
.h4{height:40.727307pt;}
.h5{height:41.658217pt;}
.h3{height:43.636400pt;}
.h2{height:77.140000pt;}
.h1{height:350.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:720.000000pt;}
.w0{width:816.000000pt;}
.x2{left:34.989333pt;}
.x3{left:36.686667pt;}
.x0{left:48.000000pt;}
.x1{left:266.925333pt;}
}
